<div id="palm-dialog-content" class="palm-dialog-content">
  <div id="dialogTitle" class="palm-dialog-title"></div>
  <div id="dialogMessage"></div>
  <div class="palm-group unlabeled">
    <div class="palm-list">
      <div class="palm-row single">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
            <div id="valueTextField" x-mojo-element="TextField"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="okButton" x-mojo-element="Button"></div>
</div>