<p>Fly your space ship through an asteroid field and destroy all asteroids to reach the next level. Defend yourself against enemy UFOs and collect shield energy and hull repair kits from them to repair damage from collisions and laser hits. On each level the number of asteroids and their speed is increased.</p>

<p><strong>Changelog</strong></p>
<p>Version 1.4.2</p>
<ul>
  <li>Applied workaround for nasty HTML 5 canvas bug in WebOS 2.2.</li>
  <li>Corrected source code links in about view.</li>
</ul>
<p>Version 1.4.0</p>
<ul>
  <li>Implemented some new power-ups: A triple laser and a beam laser.</li>
  <li>Drops from UFOs are now indestructible for one second.</li>
</ul>
<p>Version 1.3.0</p>
<ul>
  <li>Implemented a global online highscore list.</li>
  <li>Hopefully fixed a nasty collision bug (hard to reproduce so hard to tell if it is really fixed now).</li>
</ul>
<p>Version 1.2.2</p>
<ul>
  <li>Fixed eject bonus score calculation and fixed cancellation of the new-highscore dialog.)</li>
</ul>
<p>Version 1.2.1</p>
<ul> 
  <li>Added german translation for new ejection seat feature.)</li>
</ul>
<p>Version 1.2.0</p>
<ul>
  <li>Implemented ejection seat. Usage ends the game but gives a bonus of about 10% of current score for keeping the pilot alive. Also very helpful to end the game when you can no longer really move because your ship has taken too much damage.</li>
  <li>It is now guaranteed that a UFO appears in each level.</li>
</ul>
<p>Version 1.1</p>
<ul>
  <li>Corrected links to source code</li>
  <li>Improved i18n message replacement so the text keys are no longer visible when a scene loads</li> 
</ul>
<p>Version 1.0</p>
<ul>
  <li>Changed calculation of game time. Now the game no longer "jumps" when the phone is lagging.</li>
</ul>
