<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div class="icon app"></div>
    <div class="title"><span class="i18n">app.name</span> Help</div>
  </div>
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Description</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Fly your space ship through an asteroid field and destroy all asteroids to
  reach the next level. Defend yourself against enemy UFOs and collect
  shield energy and hull repair kits from them to repair damage from collisions
  and laser hits. On each level the number of asteroids and their speed is
  increased.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Controls</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Rotate your ship with the keys <kbd>K</kbd> (Left) and <kbd>L</kbd>
  (Right). Accelerate it with the <kbd>A</kbd> key. To slow your
  ship down you have to rotate the ship by 180 degrees and then use the main
  thruster to accelerate into the opposite direction. Use the <kbd>Q</kbd>
  key to fire the laser cannon.
</div>

<div class="palm-body-text">
  Controls can be configured in the Preferences screen. You can even configure 
  to use the accelerometer of the phone but be warned: A game like
  this is easier to control with a keyboard.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Shield and Hull</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Your ship is outfitted with a shield system which can absorb a collision with
  a large asteroid or with up to four small asteroids. Additionally your ship
  has a strong hull which gets damaged when you collide with asteroids and have
  no shield strength left. When it gets damaged then the performance of the
  ship also decreases. So it accelerates and turns slower and the laser
  fire rate is decreased. When the hull strength reaches 0% then your ship
  is destroyed and the game is over.
</div>

<div class="palm-body-text">
  The shield can be recharged (up to 150%) by energy which is dropped by
  destroyed UFOs. The higher the current charge of the shield the lower
  is the energy gain when dropped UFO energy is collected.
</div>

<div class="palm-body-text">
  When your hull is damaged then sometimes UFOs are dropping hull repair
  kits instead of shield energy.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">UFOs</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Sometimes an UFO appears and starts shooting at you and at asteroids. Destroy
  it for extra points and energy for your shield system or hull repair kits.
  Sometimes UFOs also drop power-up items like the triple laser cannon which
  fires three shots simultaneously. These bonus items
  are just temporary. While active a small timeout bar is displayed at the
  bottom of the screen. When the time runs out then the power-up will vanish.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Ejection seat</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  If the situation gets critical you should use your ejection seat (Default
  key mapping is <kbd>E</kbd>). If you manage to use it to save your life the
  game still ends but you get a bonus of about 10% of your current score.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Tips and tricks</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  <ul>
    <li>
      Accelerate in short bursts and fly only as fast as needed. It it best
      to practice flying around in the asteroid field in early levels. Try
      to dodge the asteroids and fly around them to get used to the controls.
    </li>
    <li>
      Try to stay in the middle of the asteroid field. At the edges asteroids
      and UFOs can suddenly appear and then most of the time you can't react
      fast enough to avoid a collision. 
    </li>
    <li>
      Use the short time between levels to get back to the middle of the
      asteroid field and slow down your ship as good as you can.
    </li>
    <li>
      Be careful when you shoot at UFOs: The dropped items are indestructible 
      for one second but if you continue shooting you may destroy these
      valuable items.
    </li>
  </ul>
</div>
