<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div class="icon app"></div>
    <div class="title">About <span class="i18n">app.name</span></div>
  </div>
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">
      <span class="i18n">app.name</span>
    </td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Version <span class="i18n">app.version</span>
</div>    

<div class="palm-body-text">
  <span class="i18n">app.copyright</span>
  <span class="i18n">app.copyrightHolder</span>
</div>    

<div class="palm-body-text">
  <span class="i18n">app.contributors</span>
</div>    

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">License</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
</div>
<div class="palm-body-text">
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
</div>
<div class="palm-body-text">
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see
  <a href="http://www.gnu.org/copyleft/gpl.html">http://www.gnu.org/copyleft/gpl.html</a>.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Source code</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  The source code of this game is divided into three different projects:
  <ul>
    <li><a href="http://kayahr.github.com/twodee/">TwoDee</a> - A canvas based 2D scene-graph engine for JavaScript. (<a href="http://www.gnu.org/copyleft/lesser.html">LGPL</a>)</li>
    <li><a href="https://github.com/kayahr/destroids">Destroids</a> - The game itself. (<a href="http://www.gnu.org/copyleft/gpl.html">GPL</a>)</li>
    <li><a href="https://github.com/kayahr/webos-destroids">webOS Destroids</a> - Destroids for webOS. (<a href="http://www.gnu.org/copyleft/gpl.html">GPL</a>)</li>
  </ul>
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Donation</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  If you like this free game then please consider a donation to support the
  creation of more free software like this. Thanks!<br />
  <br />
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=10807039"><img src="images/donate.gif" border="0" alt="PayPal - The safer, easier way to pay online!" /></a>  
</div>
