<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div class="icon app"></div>
    <div class="title">Über <span class="i18n">app.name</span></div>
  </div>
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">
      <span class="i18n">app.name</span>
    </td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Version <span class="i18n">app.version</span>
</div>    

<div class="palm-body-text">
  <span class="i18n">app.copyright</span>
  <span class="i18n">app.copyrightHolder</span>
</div>    

<div class="palm-body-text">
  <span class="i18n">app.contributors</span>
</div>    

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Lizenz</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Dieses Programm ist freie Software. Sie können es unter den Bedingungen der
  GNU General Public License, wie von der Free Software Foundation
  veröffentlicht, weitergeben und/oder modifizieren, entweder gemäß Version
  3 der Lizenz oder (nach Ihrer Option) jeder späteren Version.
</div>
<div class="palm-body-text">
  Die Veröffentlichung dieses Programms erfolgt in der Hoffnung, daß es Ihnen
  von Nutzen sein wird, aber OHNE IRGENDEINE GARANTIE, sogar ohne die implizite
  Garantie der MARKTREIFE oder der VERWENDBARKEIT FÜR EINEN BESTIMMTEN ZWECK.
  Details finden Sie in der GNU General Public License.
</div>
<div class="palm-body-text">
  Sie sollten ein Exemplar der GNU General Public License zusammen mit diesem
  Programm erhalten haben. Falls nicht, siehe
  <a href="http://www.gnu.de/documents/gpl.de.html">http://www.gnu.de/documents/gpl.de.html</a>.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Quelltext</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Der Quelltext des Programmes ist in drei Teile unterteilt:
  <ul>
    <li><a href="http://kayahr.github.com/twodee/">TwoDee</a> - Eine Canvas-basierte 2D Scene-Graph Engine für JavaScript. (<a href="http://www.gnu.de/documents/lgpl-2.1.de.html">LGPL</a>)</li>
    <li><a href="https://github.com/kayahr/destroids">Destroids</a> - Das Spiel selbst. (<a href="http://www.gnu.de/documents/gpl.de.html">GPL</a>)</li>
    <li><a href="https://github.com/kayahr/webos-destroids">webOS Destroids</a> - Destroids für webOS. (<a href="http://www.gnu.de/documents/gpl.de.html">GPL</a>)</li>
  </ul>
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Spende</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Wenn dir dieses kostenlose Spiel gefällt, dann ziehe bitte eine kleine
  Spende in Betracht, um die Entwicklung von freier Software wie dieser hier
  zu unterstützen. Danke!<br />
  <br />
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=10807039"><img src="images/spenden.gif" border="0" alt="PayPal - The safer, easier way to pay online!" /></a>  
</div>
