#game
{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#mainMenu #title
{
	height: 0px;
	overflow: hidden;
	padding-top: 34px;
	background: url(../images/destroids.png) no-repeat center center;
}

.icon.app
{
	background-image: url(../images/icon48.png) !important;
}

.i18n
{
    visibility: hidden;
}

.i18n.resolved
{
    visibility: visible;
}
