<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div class="icon app"></div>
    <div class="title"><span class="i18n">app.name</span> Hilfe</div>
  </div>
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Beschreibung</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Steuere dein Raumschiff durch ein Asteroidenfeld und zerstöre alle
  Asteroiden, um die nächste Stufe zu erreichen. Verteidige dich gegen
  feindliche UFOs und sammle Schild-Energie und Rumpf-Reparator-Kits ein,
  um durch Treffer verursachte Schäden auszubessern. In jeder neuen Stufe
  werden die Anzahl und die Geschwindigkeit der Asteroiden erhöht.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Steuerung</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Drehe dein Raumschiff mit den Tasten <kbd>K</kbd> (Links) und <kbd>L</kbd>
  (Rechts). Beschleunige mit der Taste <kbd>A</kbd>. Bremstriebwerke gibt
  es nicht. Um das Schiff abzubremsen, rotiere es um 180 Grad und beschleunige
  dann in die andere Richtung. Benutze die <kbd>Q</kbd> Taste zum Feuern der
  Laser Kanone.
</div>

<div class="palm-body-text">
  Die Steuerung kann im Einstellungs-Dialog umkonfiguriert werden. Du kannst
  sogar den Beschleunigungssensor des Telefons einstellen, aber sei gewarnt:
  Ein Spiel wie dieses ist leichter mit der Tastatur zu steuern.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Schild und Rumpf</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Dein Raumschiff ist mit einem Schild-System ausgestattet welches eine
  Kollision mit einem großen Asteroiden oder mit vier kleinen Asteroiden 
  aushält. Außerdem verfügt das Schiff über einen stark gepanzerten Rumpf der
  bei Kollisionen beschädigt wird, wenn der Schild keinen Schutz mehr bieten.
  Je stärker der Rumpf beschädigt wird, desto langsamer und träger wird das
  Schiff und desto geringer ist die Feuerrate des Lasers. Wenn der Rumpf
  0% erreicht, explodiert das Schiff und das Spiel ist zu Ende. 
</div>

<div class="palm-body-text">
  Du kannst den Schutz-Schild wieder aufladen indem du Energie einsammelst,
  welche von zerstörten UFOs hinterlassen wird. Der Schild kann maximal
  auf 150% geladen werden. Je mehr Energie der Schild hat, desto
  weniger neue Energie kann er aufnehmen.
</div>

<div class="palm-body-text">
  Wenn der Rumpf deines Raumschiffs beschädigt ist, dann hinterlassen 
  zerstörte UFOs auch hin und wieder ein Rumpf-Reparatur-Kit anstatt
  Schild-Energie.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">UFOs</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Hin und wieder taucht ein UFO auf und beginnt auf dich und auf Asteroiden zu
  schiessen. Zerstöre es, um Extra-Punkte und Energie für dein
  Schild-System oder auch Rumpf-Reparator-Kits zu erhalten. Hin und wieder
  hinterlassen zerstörte UFOs auch Zusatzausrüstungen für dein
  Raumschiff, wie z.B. die Dreifach-Laser-Kanone, welche drei Schüsse gleichzeitig
  abfeuert. Diese Ausrüstungsgegenstände sind nur temporär. Ein Zeit-Balken
  am unteren Rand des Bildschirms zeigt wie lange der Gegenstand noch aktiv
  ist.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Schleudersitz</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  Wenn die Situation brenzlig wird, dann solltest du den Schleudersitz 
  betätigen (Standard-Einstellung ist die Taste <kbd>E</kbd>). Wenn du auf
  diese Weise dein Leben rettest, dann ist das Spiel zwar trotzdem zu Ende,
  aber du erhälst einen Bonus von etwa 10% deiner aktuellen Punkte.
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label">Tipps und Tricks</td>
    <td class="line"></td>
    <td class="right"></td>
  </tr>
</table>

<div class="palm-body-text">
  <ul>
    <li>
      Immer nur in kurzen Schüben beschleunigen und nur so schnell wie 
      unbedingt notwendig fliegen. Am besten übst du in den frühen Leveln
      einfach mal nur das Fliegen, in dem du den Asteroiden ausweichst und
      um sie herumfliegst, um ein Gefühl für die Steuerung zu entwickeln.
    </li>
    <li>
      Immer versuchen so weit es geht in der Mitte des Asteroidenfeldes zu
      bleiben. Am Rand können plötzlich unerwartet Asteroiden oder gar UFOs
      auftauchen und man hat meistens dann keine Zeit mehr, eine Kollision
      zu verhindern.
    </li>
    <li>
      Die kurze Zeit zwischen den Leveln solltest du nutzen, um das Raumschiff
      zurück in die Mitte des Asteroidenfeldes zu bewegen und so weit wie
      möglich durch Gegenschub zu verlangsamen.  
    </li>
    <li>
      Vorsicht beim Abschuss von UFOs: Die hinterlassenen Gegenstände sind
      zwar für eine Sekunde lang unzerstörbar, aber wenn du wild weiterfeuerst,
      könntest du aus Versehen die Gegenstände zerstören.
    </li>
  </ul>
</div>
