<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div class="icon app"></div>
    <div class="title"><span class="i18n">preferencesView.title</span></div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title"><span class="i18n">preferencesView.effects</span></div>
  <div class="palm-list">
    <div class="palm-row first">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" id="soundButton"></div>
        <div class="title">
          <span class="i18n">preferencesView.sound</span>
        </div>
      </div>
    </div>  
    <div class="palm-row last">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" id="vibrateButton"></div>
        <div class="title">
          <span class="i18n">preferencesView.vibrate</span>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="palm-group">
  <div class="palm-group-title"><span class="i18n">preferencesView.controls</span></div>
  <div class="palm-list">
    <div class="palm-row first" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div id="ctrlLeftSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div id="ctrlRightSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div id="ctrlThrustSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div id="ctrlFireSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div id="ctrlEjectSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div id="ctrlMenuSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row last">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" id="rotationCompensatorButton"></div>
        <div class="title">
          <span class="i18n">preferencesView.rotationCompensator</span>
        </div>
      </div>
    </div>        
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title"><span class="i18n">preferencesView.rollCalibration</span></div>
  <div class="palm-list">
    <div class="palm-row first" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div class="title">
          <span class="i18n">preferencesView.range</span>: <span id="rollRangeValue">0</span>°
        </div>
        <div id="rollRangeSlider" x-mojo-element="Slider" class="palm-slider"></div>
      </div>
    </div>
    <div class="palm-row last" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div class="title">
          <span class="i18n">preferencesView.deadZone</span>: <span id="rollDeadZoneValue">0</span>°
        </div>
        <div id="rollDeadZoneSlider" x-mojo-element="Slider" class="palm-slider"></div>
      </div>
    </div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title"><span class="i18n">preferencesView.pitchCalibration</span></div>
  <div class="palm-list">
    <div class="palm-row first" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div class="title">
          <span class="i18n">preferencesView.range</span>: <span id="pitchRangeValue">0</span>°
        </div>
        <div id="pitchRangeSlider" x-mojo-element="Slider" class="palm-slider"></div>
      </div>
    </div>
    <div class="palm-row last" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div class="title">
          <span class="i18n">preferencesView.deadZone</span>: <span id="pitchDeadZoneValue">0</span>°
        </div>
        <div id="pitchDeadZoneSlider" x-mojo-element="Slider" class="palm-slider"></div>
      </div>
    </div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title"><span class="i18n">preferencesView.application</span></div>
  <div class="palm-list">
    <div class="palm-row first">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" id="fullScreenButton"></div>
        <div class="title">
          <span class="i18n">preferencesView.fullScreen</span>
        </div>
      </div>
    </div>  
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" id="blockScreenTimeoutButton"></div>
        <div class="title">
          <span class="i18n">preferencesView.blockScreenTimeout</span>
        </div>
      </div>
    </div>  
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" id="suspendButton"></div>
        <div class="title">
          <span class="i18n">preferencesView.suspend</span>
        </div>
      </div>
    </div>        
    <div class="palm-row last" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper">
        <div id="orientationSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
  </div>
</div>
